*.cfg
*.exe
*.lib
*.lst
*.map
*.o
*.obj
*.rsp
*.tmp

# CI build
/_downloads/**
/_output/**
/_watcom/**

/strings/strings/**
!/strings/strings/makefile.mak
/**/echolib.bat
/**/echoto.bat
!/scripts/**

/config.bat
/command.com
/config.mak
/context.h_c
/context.inc
/strings.h
/infores
/info.txt
/criter/context.def
/criter/context.h_c
/criter/context.inc
/criter/criter
/criter/criter1
/shell/command.err
/strings/strings.dat
/strings/strings.err
/strings/strings.h
/strings/strings.log
/tools/28.com
/tools/50.com
/tools/icmd_1.icd
/tools/icmd_2.icd
/tools/icmd_3.icd
/tools/kssf.com
/tools/makefile.mak
/tools/vspawn.com
/strings/xmsswap.cln
/build/