*.cfg
*.com
*.exe
*.icd
*.lib
*.lst
*.map
*.o
*.obj
*.rsp
*.tmp

# CI build
/_downloads/**
/_output/**
/_watcom/**

/build/**
/strings/strings/**
!/strings/strings/makefile.mak
/**/echolib.bat
/**/echoto.bat
!/scripts/**
/**/gnumake.mak

/config.bat
/config.mak
/context.h_c
/context.inc
/gnuconf.mak
/infores
/info.txt
/strings.h
/criter/context.def
/criter/context.h_c
/criter/context.inc
/criter/criter
/criter/criter1
/shell/command.err
/strings/strings.dat
/strings/strings.err
/strings/strings.h
/strings/strings.log
/strings/xmsswap.cln
/tools/makefile.mak
