#
*.A
*.a
*.BIN
*.bin
*.CFG
*.cfg
*.COM
*.com
*.EXE
*.exe
*.LIB
*.lib
*.LST
*.lst
*.O
*.o
*.OBJ
*.obj
*.MAP
*.map
*.RSP
*.rsp
#
CONFIG.BAT
CONFIG.MAK
config.bat
config.mak
#
*.LOG
*.log

*.o
*.obj
*.lib
*.exe
*.tmp

#
command.upx
#
config.bat
command.com
config.mak
context.h_c
context.inc
strings.h
infores
info.txt
cmd/cmds.lst
cmd/cmds.rsp
cmd/echolib.bat
cmd/watcomc.cfg
criter/context.def
criter/criter
criter/criter1
lib/echolib.bat
lib/freecom.lst
lib/freecom.rsp
lib/watcomc.cfg
shell/command.err
shell/command.map
shell/command.rsp
shell/echoto.bat
shell/watcomc.cfg
strings/strings.dat
strings/strings.err
strings/strings.lst
strings/watcomc.cfg
strings/strings/makefile
strings/strings/str0000.c
strings/strings/str0001.c
strings/strings/str0002.c
strings/strings/str0003.c
strings/strings/str0004.c
strings/strings/str0005.c
strings/strings/str0006.c
strings/strings/str0007.c
strings/strings/str0008.c
strings/strings/str0009.c
strings/strings/str000a.c
strings/strings/str000b.c
strings/strings/str000c.c
strings/strings/str000d.c
strings/strings/str000e.c
strings/strings/str000f.c
strings/strings/str0010.c
strings/strings/str0011.c
strings/strings/str0012.c
strings/strings/str0013.c
strings/strings/str0014.c
strings/strings/str0015.c
strings/strings/str0016.c
strings/strings/str0017.c
strings/strings/str0018.c
strings/strings/str0019.c
strings/strings/str001a.c
strings/strings/str001b.c
strings/strings/str001c.c
strings/strings/str001d.c
strings/strings/str001e.c
strings/strings/str001f.c
strings/strings/str0020.c
strings/strings/str0021.c
strings/strings/str0022.c
strings/strings/str0023.c
strings/strings/str0024.c
strings/strings/str0025.c
strings/strings/str0026.c
strings/strings/str0027.c
strings/strings/str0028.c
strings/strings/str0029.c
strings/strings/str002a.c
strings/strings/str002b.c
strings/strings/str002c.c
strings/strings/str002d.c
strings/strings/str002e.c
strings/strings/str002f.c
strings/strings/str0030.c
strings/strings/str0031.c
strings/strings/str0032.c
strings/strings/str0033.c
strings/strings/str0034.c
strings/strings/str0035.c
strings/strings/str0036.c
strings/strings/str0037.c
strings/strings/str0038.c
strings/strings/str0039.c
strings/strings/str003a.c
strings/strings/str003b.c
strings/strings/str003c.c
strings/strings/str003d.c
strings/strings/str003e.c
strings/strings/str003f.c
strings/strings/str0040.c
strings/strings/str0041.c
strings/strings/str0042.c
strings/strings/str0043.c
strings/strings/str0044.c
strings/strings/str0045.c
strings/strings/str0046.c
strings/strings/str0047.c
strings/strings/str0048.c
strings/strings/str0049.c
strings/strings/str004a.c
strings/strings/str004b.c
strings/strings/str004c.c
strings/strings/str004d.c
strings/strings/str004e.c
strings/strings/str004f.c
strings/strings/str0050.c
strings/strings/str0051.c
strings/strings/str0052.c
strings/strings/str0053.c
strings/strings/str0054.c
strings/strings/str0055.c
strings/strings/str0056.c
strings/strings/str0057.c
strings/strings/str0058.c
strings/strings/str0059.c
strings/strings/str005a.c
strings/strings/str005b.c
strings/strings/str005c.c
strings/strings/str005d.c
strings/strings/str005e.c
strings/strings/str005f.c
strings/strings/str0060.c
strings/strings/str0061.c
strings/strings/str0062.c
strings/strings/str0063.c
strings/strings/str0064.c
strings/strings/str0065.c
strings/strings/str0066.c
strings/strings/str0067.c
strings/strings/str0068.c
strings/strings/str0069.c
strings/strings/str006a.c
strings/strings/str006b.c
strings/strings/str006c.c
strings/strings/str006d.c
strings/strings/str006e.c
strings/strings/str006f.c
strings/strings/str0070.c
strings/strings/str0071.c
strings/strings/str0072.c
strings/strings/str0073.c
strings/strings/str0074.c
strings/strings/str0075.c
strings/strings/str0076.c
strings/strings/str0077.c
strings/strings/str0078.c
strings/strings/str0079.c
strings/strings/str007a.c
strings/strings/str007b.c
strings/strings/str007c.c
strings/strings/str007d.c
strings/strings/str007e.c
strings/strings/str007f.c
strings/strings/str0080.c
strings/strings/str0081.c
strings/strings/str0082.c
strings/strings/str0083.c
strings/strings/str0084.c
strings/strings/str0085.c
strings/strings/str0086.c
strings/strings/str0087.c
strings/strings/str0088.c
strings/strings/str0089.c
strings/strings/str008a.c
strings/strings/str008b.c
strings/strings/str008c.c
strings/strings/str008d.c
strings/strings/str008e.c
strings/strings/str008f.c
strings/strings/str0090.c
strings/strings/str0091.c
strings/strings/str0092.c
strings/strings/str0093.c
strings/strings/str0094.c
strings/strings/str0095.c
strings/strings/str0096.c
strings/strings/str0097.c
strings/strings/str0098.c
strings/strings/str0099.c
strings/strings/str009a.c
strings/strings/str009b.c
strings/strings/str009c.c
strings/strings/str009d.c
strings/strings/str009e.c
strings/strings/str009f.c
strings/strings/str00a0.c
strings/strings/str00a1.c
strings/strings/str00a2.c
strings/strings/str00a3.c
strings/strings/str00a4.c
strings/strings/str00a5.c
strings/strings/str00a6.c
strings/strings/str00a7.c
strings/strings/str00a8.c
strings/strings/str00a9.c
strings/strings/str00aa.c
strings/strings/str00ab.c
strings/strings/str00ac.c
strings/strings/str00ad.c
strings/strings/str00ae.c
strings/strings/str00af.c
strings/strings/str00b0.c
strings/strings/str00b1.c
strings/strings/str00b2.c
strings/strings/str00b3.c
strings/strings/str00b4.c
strings/strings/str00b5.c
strings/strings/str00b6.c
strings/strings/str00b7.c
strings/strings/str00b8.c
strings/strings/str00b9.c
strings/strings/str00ba.c
strings/strings/str00bb.c
strings/strings/str00bc.c
strings/strings/str00bd.c
strings/strings/str00be.c
strings/strings/str00bf.c
strings/strings/str00c0.c
strings/strings/str00c1.c
strings/strings/str00c2.c
strings/strings/str00c3.c
strings/strings/str00c4.c
strings/strings/str00c5.c
strings/strings/str00c6.c
strings/strings/str00c7.c
strings/strings/str00c8.c
strings/strings/str00c9.c
strings/strings/str00ca.c
strings/strings/str00cb.c
strings/strings/str00cc.c
strings/strings/str00cd.c
strings/strings/str00ce.c
strings/strings/str00cf.c
strings/strings/str00d0.c
strings/strings/str00d1.c
strings/strings/str00d2.c
strings/strings/str00d3.c
strings/strings/str00d4.c
strings/strings/str00d5.c
strings/strings/str00d6.c
strings/strings/str00d7.c
strings/strings/str00d8.c
strings/strings/str00d9.c
strings/strings/str00da.c
strings/strings/str00db.c
strings/strings/str00dc.c
strings/strings/str00dd.c
strings/strings/str00de.c
strings/strings/str00df.c
strings/strings/str00e0.c
strings/strings/str00e1.c
strings/strings/str00e2.c
strings/strings/str00e3.c
strings/strings/str00e4.c
strings/strings/str00e5.c
strings/strings/str00e6.c
strings/strings/str00e7.c
strings/strings/str00e8.c
strings/strings/str00e9.c
strings/strings/str00ea.c
strings/strings/str00eb.c
strings/strings/str00ec.c
strings/strings/str00ed.c
strings/strings/str00ee.c
strings/strings/str00ef.c
strings/strings/str00f0.c
strings/strings/str00f1.c
strings/strings/str00f2.c
strings/strings/str00f3.c
strings/strings/str00f4.c
strings/strings/str00f5.c
strings/strings/str00f6.c
strings/strings/str00f7.c
strings/strings/str00f8.c
strings/strings/str00f9.c
strings/strings/str00fa.c
strings/strings/str00fb.c
strings/strings/str00fc.c
strings/strings/str00fd.c
strings/strings/str00fe.c
strings/strings/str00ff.c
strings/strings/strings.lst
strings/strings/strings.rsp
suppl/watcomc.cfg
suppl/src/echolib.bat
suppl/src/objlist.txt
suppl/src/suppl_s.lst
suppl/src/watcomc.cfg
tools/28.com
tools/50.com
tools/icmd_1.icd
tools/icmd_2.icd
tools/icmd_3.icd
tools/kssf.com
tools/tools.mak
tools/vspawn.com
tools/watcomc.cfg
utils/watcomc.cfg
strings/xmsswap.cln
build/
